.main-header {
  height: $header-hight;
  border-top: 1px solid rgba(238, 238, 238, 1);
  background: rgba(245, 245, 245, 1);
  @include flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.carousel {
  flex-basis: 50%;
  height: $carousel-height;
  padding: 0;
  z-index: 1;
}
