.main-nav {
  @include flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.logo {
  padding-right: 0;
}
.img-logo {
  display: none;
}
.text-logo {
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.menu {
  width: 200px;
  height: $header-hight;
  border: 1px solid $header-border-color;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1em;
  letter-spacing: 3px;
  padding: 0;
  z-index: 2;
  visibility: hidden;
  li {
    margin: 20px;
    .menu-item {
      cursor: pointer;
      text-transform: capitalize;
    }
  }
  &.open {
    visibility: visible;
  }
}
.shopping-cart {
  width: 35px;
  height: 35px;
  z-index: 1;
  font-size: 2em;
  position: relative;
}
.items-counter {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $font-color;
  font-size: 0.4em;
  position: absolute;
  bottom: -10%;
  right: 6%;
  z-index: 2;
  text-align: center;
  padding: 3px;
  color: $primary-background;
}
@include for-tablet-portrait-up {
  .main-nav {
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
    background: $secondary-background;
    padding: 0 50px
  }
  .menu {
    width: auto;
    height: auto;
    position: static;
    visibility: visible;
    border: none;
    background: none;
    @include flex;
    justify-content: flex-start;
    li {
      margin: 10px;
    }
    .menu-item {
      font-size: 0.8em;
  }
  }
  .logo {
    align-self: flex-start;
    width: 30px;
    margin-right: auto;
    z-index: 3;
  }
  .text-logo {
    display: none;
  }
  .img-logo {
    width: 38px;
    font-size: 2em;
    display: block;
    padding-top: 16px;
    position: relative;
    right: 30px;
    top: 8px;
    }
}
@include for-tablet-landscape-up {
  
}
