.sidebar {
  @include flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 1em;
  letter-spacing: 3px;
}
.triangle {
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
  position: relative;
  top: 15px;
  left: 3px;
}
.flashlight-icon {
  width: 13px;
  height: 13px;
  background-image: url('./../img/flashlight-icon.png');
  background-size: cover;
  position: absolute;
  left: -20px;
  top: 15px;
}
.categories,
.filter {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@include for-tablet-portrait-up {
  .sidebar {
    height: 100px;
    justify-content: space-evenly;
  }
}
@include for-desktop-up {
  .sidebar {
    @include flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80vw;
    margin-top: 50px;
  }
  .triangle,
  .flashlight-icon {
    display: none;
  }
}
