.products {
  width: 100%;
  @include flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}
.product-thumbnail {
  font-size: 0.8em;
}
.product-img {
  width: 42vw;
  height: 42vw;
  background-image: url('./../img/products/one.png');
  background-size: cover;
  position: relative;
  &:hover {
    background-image: url('./../img/products/one-hover.png');
  }
  &-fav {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    visibility: hidden;
    &.visible {
      visibility: visible;
    }
  }
}
.product-name {
  padding: 10px 0;
}
.product-price,
.add-to-cart {
  height: 1.5em;
  padding:  0 0 10px 0;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.add-to-cart {
  @include flex;
  cursor: pointer;
 .cart {
   font-size: 1em;
   margin-right: 5px;
 }
}
.show-more {
  width: 100%;
  text-align: center;
  margin: 40px 0;
  font-size: 1.2em;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 1.3;
  text-decoration: underline;
}
@include for-tablet-portrait-up {
  .products {
    justify-content: space-evenly;
  }
  .product-thumbnail {
    font-size: 1em;
  }
  .product-img {
    width: 35vw;
    height: 35vw;
  }
  .product-price,
  .add-to-cart {
    margin-bottom: 40px;
  }
}
@include for-tablet-landscape-up {
  .product-img {
    width: 30vw;
    height: 30vw;
  }
}
