.products {
  //border: 1px solid red;
  width: 95vw;
  margin: 0 2.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;

}
.product-thumbnail {
  font-size: 0.8em;
  font-family: 'Roboto';
  font-weight: 500;
}
.product-img {
  width: 150px;
  height: 150px;
  background-image: url('./../img/products/one.png');
  background-size: cover;
  position: relative;
  &:hover {
    background-image: url('./../img/products/one-hover.png');
  }
  &-fav {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    visibility: hidden;
    &.visible {
      visibility: visible;
    }
  }
}
.product-name {
  padding: 10px 0;
}
.product-price {
  height: 1.5em;
  padding:  0 0 10px 0;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.add-to-cart {
  height: 1.5em;
  padding:  0 0 10px 0;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  cursor: pointer;
 .cart {
   font-size: 1em;
   margin-right: 5px;
 }
}
