.categories-list {
  height: 230px;
  width: $filter-lists-width;
  position: absolute;
  top: 35px;
  left: 0px;
  font-size: 1em;
  letter-spacing: 2px;
  background-color: $primary-background;
  border: 1px solid $header-border-color;
  padding-left: 10px;
  visibility: hidden;
  &.open {
    visibility: visible;
  }
  .categories-list-title {
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 126px;
  }
  li {
    margin-bottom: 10px;
    .categories-list-item {
      font-size: 0.8em;
      text-transform: uppercase;
   }
  }
}
@include for-tablet-portrait-up {
  .categories-list {
    width: 42vw;
    height: 42vw;
    top: 55px;
    left: -15.5vw;
    li {
      margin-bottom: 15px;
    }
  }
  .categories-list-item {
    font-size: 1em;
  }
}
