.filter-list {
  height: 420px;
  width: $filter-lists-width;
  position: absolute;
  top: 55px;
  right: 0;
  background-color: $primary-background;
  border: 1px solid $header-border-color;
  padding: 10px;
  visibility: hidden;
  &.open {
    visibility: visible;
  }
}
.filter-list-title {
  font-size: 1em;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 200px;
}
.found-products {
  position: absolute;
  top: 380px;
  font-size: 0.8em;
}
@include for-tablet-portrait-up {
  .filter-list {
    width: 42vw;
    top: 73px;
    right: -20vw;
  }
}
