.filter-size-title {
  @include fieldset-legend;
  position: absolute;
  top: 228px;
}
.filter-size {
  position: absolute;
  top: 248px;
  padding: 0;
  li {
    padding-top: 10px;
    a {
      font-size: 0.8em;
      font-family: 'Roboto';
      font-weight: 500;
      color: rgba(0, 0, 0, 0.5);
      letter-spacing: 2px;
      text-transform: capitalize;
    }
    a:focus {
      color:  rgba(0, 0, 0, 1);
    }
  }
}
