.filter-price {
  @include fieldset-filter;
  legend {
    @include fieldset-legend;
  }
}
@include for-phone-only {
  .filter-price {
    width: 55vw;
  }
}
input[type=range] {
  -webkit-appearance: none;
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 15px;
  width: $track-width-mobile;
  height: 17px;
  outline: none;
  margin: 10px 0;
  padding: 0;
}
input[type=range]::-webkit-slider-runnable-track {
  @include filter-price-track-mobile;
}
input[type=range]::-webkit-slider-thumb {
  @include range-thumb;
  z-index: 1;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-moz-range-track {
  @include filter-price-track-mobile;
  position: relative;
  z-index: -1;
}
input[type=range]:last-of-type::-moz-range-track {
  -moz-appearance: none;
}
input[type=range]::-moz-range-thumb {
  @include range-thumb;
  z-index: 3;
  margin-top: -4px;
}
input[type=range]::-moz-focus-outer {
  border: none;
}
.range-value-nim,
.range-value-max {
  width: 50px;
  height: 20px;
  position: absolute;
  top: 55px;
  font-size: 0.7em;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.5);
}
.range-value-max {
  right: 77px;
}
.btn-filter {
  width: 50px;
  height: 20px;
  position: absolute;
  top: 55px;
  font-size: 0.8em;
  padding: 0;
  right: -83px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 0.7em;
  text-transform: capitalize;
  letter-spacing: 1px;
}
@include for-tablet-portrait-up {
  filter-price {
    width: none;
  }
  input[type=range] {
    width: $track-width-tablet;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: $track-width-tablet;
  }
  input[type=range]::-moz-range-track {
    width: $track-width-tablet;
  }
  .range-value-max {
    left: 70px;
  }
  .btn-filter {
    left: 55%;
  }
}
@include for-desktop-up {
  input[type=range] {
    width: $track-width-desktop;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: $track-width-desktop;
  }
  input[type=range]::-moz-range-track {
    width: $track-width-desktop;
  }
  .btn-filter {
    left: 31%;
  }
}
