.filter-price {
  @include fieldset-filter;
  legend {
    @include fieldset-legend;
  }
}
input[type=range] {
    -webkit-appearance: none;
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 280px;
    outline: none;
    height: 17px;
    margin: 10px 0;
    padding: 0;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 280px;
    height: 1px;
    background: rgba(0 ,0, 0, 0.2);
    border: none;
}
input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    border: 1px solid black;
    background: white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-top: -7px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-moz-range-track {
    width: 280px;
    height: 1px;
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
}
input[type=range]:last-of-type::-moz-range-track {
  -moz-appearance: none;
   border: none;
   width: 280px;
   height: 1px;
   position: relative;
   z-index: -1;
   background-color: rgba(0, 0, 0, 0.2);
}
input[type=range]::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 3;
  outline: none;
  border: 1px solid black;
  background: rgba(255, 255, 255, 1);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-top: -4px;
}
input[type=range]::-moz-focus-outer {
  border: none;
}
.range-value-nim,
.range-value-max {
  width: 50px;
  height: 20px;
  position: absolute;
  top: 55px;
  font-family: 'Roboto';
  font-size: 0.7em;
  padding-left: 10px;
  // border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.5);
}
.range-value-max {
  right: 77px;
}
.btn-filter {
  width: 50px;
  height: 20px;
  position: absolute;
  top: 55px;
  font-size: 0.8em;
  padding: 0;
  right: -83px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: 'Roboto';
  font-size: 0.7em;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
}
