//--------------------------------------------------------
//  theme variables
//--------------------------------------------------------

$primary-background: rgb(250, 250, 250);
$secondary-background: rgb(245, 245, 245);
$font-color: rgb(0, 0, 0);
$font-color-header: rgb(73, 73, 73);

//--------------------------------------------------------
//  mobile menu
//--------------------------------------------------------
$bar-width: 35px;
$bar-height: 4px;
$bar-spacing: 10px;
